@model JoshDevenyi_PokemonPassionProject.Models.TrainerDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.TrainerName?</h2>
<a href="/Trainer/List">Cancel</a>
<form action="/Trainer/Delete/@Model.TrainerId" method="POST">

    <input type="submit" style="background-color:red;" value="Confirm Delete" />

</form>

