@model IEnumerable<JoshDevenyi_PokemonPassionProject.Models.TrainerDto>
@{
    ViewBag.Title = "List";
}

<h2>Pokémon Trainers</h2>
<a style="color:forestgreen;" href="/Trainer/New">Add Trainer</a>

@foreach (var trainer in Model)
{

    <a href="/Trainer/Details/@trainer.TrainerId"><h3>@trainer.TrainerName</h3></a>
    <em>@trainer.TrainerTitle</em>

}
