@{
    ViewBag.Title = "New";
}


<h2>Add a New Trainer</h2>

<div class="linkBox">
    <a href="/Trainer/List" class="navLink">Go Back to Trainer List</a>
</div>


<form action="/Trainer/Create" method="POST">

    <div class="inputBox">
         <label>Name:</label>
        <input type="text" name="TrainerName" />
    </div>

    <div class="inputBox">
        <label>Title:</label>
        <input type="text" name="TrainerTitle" />
    </div>

    <div class="inputBox">
        <label>Bio:</label>
        <textarea name="TrainerBio" class="bioInput"></textarea>
    </div>

    <div>
        <input type="submit" value="Add Trainer" />
    </div>

</form>

