@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron" style="text-align:center">
    <h1>Pokémon Trainer Tracker</h1>
    <p class="lead">A Helpful Tool on Your Quest to Catch Em' All</p>
    <!--<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>

<div class="row">
    <div class="col-md-4">
        <h2>List of Trainers</h2>
        <p>
            Compare progress with trainers from around the world!
        </p>
        <p><a class="btn btn-default" href="/Trainer/List">Go Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pokédex</h2>
        <p>Explore the growing list of Pocket Monsters!</p>
        <p><a class="btn btn-default" href="/Pokemon/List">Go Now &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>List of Types</h2>
        <p>Explore the Pokédex based of the 18 Pokémon Types!</p>
        <p><a class="btn btn-default" href="/PokemonType/List">Go Now &raquo;</a></p>
    </div>
</div>