@model IEnumerable<JoshDevenyi_PokemonPassionProject.Models.PokemonDto>
@{
    ViewBag.Title = "List";
}

<h2>List of Pokémon</h2>

<a class="addLink navLink" href="/Pokemon/New">Add Pokémon</a>

@foreach (var pokemon in Model)
{

    <h3><span>@pokemon.PokedexNumber</span>. <a href="/Pokemon/Details/@pokemon.PokemonId">@pokemon.PokemonName</a></h3>
    
}

