@model IEnumerable<JoshDevenyi_PokemonPassionProject.Models.PokemonTypeDto>


@{
    ViewBag.Title = "New";
}

<div class="linkBox">
    <a href="/Pokemon/List" class="navLink">Back to Pokémon List</a>
</div>

<form action="/Pokemon/Create" method="POST">

    <div class="inputBox">
        <label>Name:</label> <input type="text" name="PokemonName"/>
    </div>

    <div class="inputBox">
        <label>Pokédex #:</label> <input type="number" name="PokedexNumber"/>
    </div>

    <div class="inputBox">
        <label>Pokémon Type:</label> 
        <select name="PokemonTypeId">
            @foreach (var PokemonType in Model)
            {
                <option value="@PokemonType.PokemonTypeId">@PokemonType.PokemonTypeName</option>
            }
        </select>
    </div>

    <div class="inputBox">
        <input type="submit" value="Add Pokémon" />
    </div>

</form>
