@model JoshDevenyi_PokemonPassionProject.Models.PokemonTypeDto

@{
    ViewBag.Title = "DeleteConfirm";
}

<h2>Are you sure you want to delete @Model.PokemonTypeName?</h2>

<div class="linkBox">
    <a href="/PokemonType/List" class="navLink">Cancel</a>
</div>

<form action="/PokemonType/Delete/@Model.PokemonTypeId" method="POST" class="delete">

    <input type="submit" style="background-color:red;" value="Confirm Delete" />

</form>



