@model JoshDevenyi_PokemonPassionProject.Models.ViewModels.DetailsPokemonType

@{
    ViewBag.Title = "Details";
}

<div class="linkBox">
    <a href="/PokemonType/List">Go Back to Type List</a>
    <br />
    <a href="/PokemonType/Edit/@Model.SelectedPokemonType.PokemonTypeId">Edit Type Details</a>
    <br />
    <a style="color:red;" href="/PokemonType/DeleteConfirm/@Model.SelectedPokemonType.PokemonTypeId">Delete Type</a>
</div>

<div>

    <h2>List of @Model.SelectedPokemonType.PokemonTypeName Pokémon</h2>

    @foreach (var pokemon in Model.RelatedPokemons)
    {
        <div>
            <h3><a href="/Pokemon/Details/@pokemon.PokemonId">@pokemon.PokemonName</a></h3>
        </div>
    }

</div>