@model IEnumerable<JoshDevenyi_PokemonPassionProject.Models.PokemonTypeDto>


@{
    ViewBag.Title = "List";
}

<h2>Pokémon Types</h2>
<a style="color:forestgreen;" href="/PokemonType/New">Add Type</a>

@foreach (var pokemontype in Model)
{

    <a href="/PokemonType/Details/@pokemontype.PokemonTypeId"><h3>@pokemontype.PokemonTypeName</h3></a>

}
