@{
    ViewBag.Title = "New";
}


<h2>Add a New Type</h2>

<div class="linkBox">
    <a href="/PokemonType/List">Go Back to Type List</a>
</div>

<form action="/PokemonType/Create" method="POST">

    <div class="inputBox">
        <label>Name:</label>
        <input type="text" name="PokemonTypeName" />
    </div>

    <div class="inputBox">
        <input type="submit" value="Add Type" />
    </div>

</form>

