/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

@font-face {
    font-family: PokemonSolid;
}

/*Site Formatting*/
html {
    box-sizing: border-box;
}


body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Archivo', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/* Josh Styles */
.linkBox {
    margin-top:1em
}

.inputBox{

    margin: 1em 0;

}

.contentBox {
    padding: 0 2em;
}

.delete {
    margin: 1em 0;
}

.addLink{
    color: green;
}

input{
    display:block;
}

button {
    display: block;
    margin-top: 1em;
}

.navLink{

    font-size: 1.25em;

}

.bioInput {
    display: block;
    resize: none;
    height: 100px;
    width: 500px;
}

.typeBox {
    width: fit-content;
    margin: 1em 0;
    padding: 0 20px;
    border-radius: 10px;
}

.typeLink, .typeLink:hover {
    color: white;
}

.typeText{

 font-weight:bold;

}

.trainerContent + .trainerContent {

    margin-top: 2.5em;

}

.pokePicture {

    width: 300px;

}

.mainTitle {

    width: 65%;
    margin-bottom: 40px;

}

.navbar {
    background-color:#072e0a;
}


